{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": "sts:AssumeRole",
            "Resource": ${control_lf_role_arns}
        },
        {
            "Effect": "Allow",
            "Action": "glue:GetTable",
            "Resource": "*"
        }
    ]
}
